/* color palette from <https://github.com/vuejs/theme> (edited) */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #cbcaca;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --c-text: rgba(235, 235, 235, 0.64);

  --c-bg-card-header-highlight: rgba(84, 84, 84, 0.65);
  --c-bg-card-header-partner: rgba(73, 175, 92, 0.65);

  --c-green-light: rgb(73, 175, 92);
  --c-green-dark: rgb(28, 101, 42);

  --c-red-light: rgb(213, 139, 139);
  --c-red-dark: rgb(90, 33, 26);

  --c-blue-light: rgb(105, 195, 255);
  --c-blue-dark: rgb(16, 40, 56);
}

/* semantic color variables for this project */
:root body:not(.dark-mode) {
  --c-bg: var(--vt-c-white-mute);
  --c-bg-soft: var(--vt-c-white-soft);
  --c-bg-mute: var(--vt-c-white);

  --c-border: var(--vt-c-divider-dark-2);
  --c-border-hover: var(--vt-c-divider-dark-1);

  --c-heading: var(--vt-c-text-light-1);
}
:root body.dark-mode {
  --c-bg: var(--vt-c-black);
  --c-bg-soft: var(--vt-c-black-soft);
  --c-bg-mute: var(--vt-c-black-mute);

  --c-border: var(--vt-c-divider-light-2);
  --c-border-hover: var(--vt-c-divider-light-1);

  --c-heading: var(--vt-c-text-dark-1);
}
body {
  width: 100vw;
  height: 100vh;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
